.container{
  display: flex;
  justify-content: center;
  .block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    height: 372px;
    width: 413px;
    box-shadow: 0 0 20px -9px black;
    h3{
      font-size: 26px;
      line-height: 32px;
    }
    .input {
      margin-top: 18px;
      width: 347px;
    }
    p{
      width: 347px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      opacity: 0.5;
    }
    .button {
      margin-top: 32px;
      border-radius: 30px;
      width: 347px;
      padding-right:15px ;
      padding-left:15px ;
    }
  }
}