.container {
  margin-top: 70px;
  display: flex;
  justify-content: center;

  .block {
    width: 413px;
    height: 360px;
    box-shadow: 0 0 20px -9px black;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      margin-top: 15px;
      font-size: 22px;
      line-height: 27px;
      font-weight: 600;
    }

    .avatarBlock {
      width: 95px;
      height: 95px;

      .avatar {
        width: 100%;
        height: 100%;
        border-radius: 47px;
      }

      .photo {
        position: relative;
        bottom: 36px;
        left: 63px;
        z-index: 2;
      }
    }

    .name {
      margin-top: 17px;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    .email {
      margin-top: 14px;
      font-size: 14px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.7);
    }
    .button {
      margin-top: 41px;
      border-radius: 30px;
      box-shadow: 0 0 20px -9px black;
     padding-right:15px ;
     padding-left:15px ;
    }
  }
}
