.addCard {
   > div:first-child {
      margin-bottom: 35px;
   }
   > div:last-child {
      padding-bottom: 47px;
   }
   .question {
      margin-bottom: 23px;
   }
   .answer {
      margin-bottom: 36px;
   }
   .question,
   .answer {
      position: relative;
      padding-bottom: 15px;

      &__value {
         width: 100%;
      }
      &__error {
         position: absolute;
         bottom: 0;
         left: 0;
         color: #d32f2f;
         font-size: 10px;
      }
   }
   .selector{
      width: 100%;
      margin-bottom: 30px;
   }
}
