.container{
  background: #f9f9fa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .block{
    width: 413px;
    height: 100%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      margin-top: 35px;
      font-size: 26px;
      line-height: 32px;
      font-weight: 600;
    }
    .input {
      margin-top: 35px;
      width: 347px;
    }
    p{
      margin-top: 30px;
      width: 347px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      opacity: 0.5;
    }
    .button {
      margin-top: 65px;
      border-radius: 30px;
      width: 347px;
      padding-right:15px ;
      padding-left:15px ;
    }
    a{
      margin-top: 7px;
      margin-bottom: 38px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #366EFF;
      text-decoration: underline;
    }
  }
}