.login_form {
   position: relative;
   padding: 35px 33px 42px;
   display: flex;
   flex-direction: column;
   background: #ffffff;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
   border-radius: 2px;
   max-width: 413px;
   width: 100%;
   .form {
      display: flex;
      flex-direction: column;
      &__email {
         margin-bottom: 11px;
      }
      &__password {
         margin-bottom: 9px;
      }
      &__remember {
         display: flex;
         align-items: center;
         max-width: fit-content;
         margin-bottom: 29px;
         font-weight: 500;
         font-size: 14px;
         line-height: 17px;
         text-align: center;
         color: #000000;
         span {
            padding-left: 0;
         }
         svg {
            width: 18px;
            height: 18px;
            margin-right: 3px;
         }
      }
      &__forgot {
         display: inline-block;
         margin: 0 0 29px auto;
         font-weight: 500;
         font-size: 14px;
         line-height: 17px;
         text-align: center;
         color: #000000;
      }
   }
}
