.password {
   position: relative;
   padding-bottom: 15px;
   &__input {
      width: 100%;
      input {
         padding-right: 40px;
      }
   }
   &__icon {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      button {
         padding-bottom: 5px;
      }
   }
   &__error {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #d32f2f;
      font-size: 12px;
   }
}
