th.pack_name {
   min-width: 250px;
   width: 350px;
   word-break: break-word;
   padding: 10px;
   cursor: pointer;
   &:hover {
      scale: 1.01;
      text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
   }
}
td.pack_created {
   width: 180px;
   word-break: break-word;
   padding: 5px;
   text-align: center;
}
td.pack_cover {
   padding: 0;
   padding-left: 10px;
   width: 200px;
   img {
      width: 100%;
      max-height: 81px;
   }
}
