.container {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 439px;
  width: 100%;
  margin: 0 auto;
.title{
display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-top: 27px;
    width: 100%;
  }
  .switch{
    display: flex;
    flex-direction: column;
    width: 80px;
    .mode{
      opacity: 0.5;
      text-align: center;
      font-size: 12px;
    }
  }
}
  .block {
    background: #ffffff;
    padding: 30px 30px 48px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
    margin-top: 18px;

    .question {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      span {
        font-weight: 600;
      }
      .questionImg{
        max-width: 373px;
        margin: 0 auto;
        display: block;
      }
    }

    .attempts {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      opacity: 0.5;
      margin-top: 13px;

      span {
        font-weight: 600;
        margin-left: 3px;
      }
    }

    .button {
      border-radius: 30px;
      margin-top: 30px;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .answerBlock {
    margin-top: 35px;

    .rateBlock {
      margin-top: 24px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }
}