.container {
  background: #f9f9fa;
  min-height: 100vh;
  padding-top: 20px;
  margin: 60px auto;
  width: 1008px;
  .link{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    display: flex;
    gap: 10px;
    img {
      width: 24px;
      height: 24px;
      padding: 5px;
    }
  }
}