.reset {
   background: #ffffff;
   border: 1px solid #e8e8e8;
   border-radius: 2px;
   width: 40px;
   height: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
   &__icon {
   }
}
