.arrow {
   position: absolute;
   transition: all ease-in 0.4s !important;
}
.up {
   transform: rotate(180deg);
   animation: up 0.4s ease-in;
}
.down {
   transform: rotate(0deg);
   animation: down 0.4s ease-in;
}
@keyframes up {
   0% {
      width: 40px;
      height: 40px;
   }
   100% {
      width: 21px;
      height: 21px;
   }
}
@keyframes down {
   0% {
      width: 40px;
      height: 40px;
   }
   100% {
      width: 21px;
      height: 21px;
   }
}
